pandas
sqlalchemy
mysql-connector-python
overpy
pymysql
pymssql
numpy
matplotlib
seaborn
requests
requests-cache
pyodbc
ipykernel
openmeteo_requests
retry-requests
opencage
rapidfuzz
azure-functions
azure.identity
azure-keyvault-secrets
